export const CONSUMER_API_KEY="";
export const CONSUMER_API_KEY_SECRET="";
export const ACCESS_TOKEN_URL="https://api.twitter.com/oauth/access_token";
export const REQUEST_TOKEN_URL="https://api.twitter.com/oauth/request_token";
export const AUTHORIZE_URL="https://api.twitter.com/oauth/authorize";
export const BACKEND_API_URL="http://localhost:3002";
